{erl_opts, [debug_info]}.
{deps, []}.

{ct_opts, [
    {config, "config/sys.config"}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [mqtt]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "~> 1.4.0"},
            {rebar3_proper, "~> 0.12.0"}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.

{project_plugins, [
    {rebar3_lint, "3.0.0"},
    covertool,
    rebar3_proper
]}.
